---
layout: layouts/base.njk
pagination:
  data: collections.categoriesMap
  resolve: values
  size: 1
  alias: articles
permalink: /{{ articles[0].data.category | slugify }}/
description: "Alle Artikel"
---
{% set postslist = articles | reverse %}
{% include "components/postslist.njk" %}
