---
layout: layouts/base.njk
pagination:
  data: collections.posts
  size: 50
  alias: posts
  reverse: true
eleventyComputed: 
  title: "Archivierte Beiträge"
  description: "Archivierte Beiträge"
---
{% set postslist = posts %}
{% include "components/postslist.njk" %}

<nav>
  {% if pagination.previousPageLink %}
    <a rel="prev" href="{{ pagination.previousPageHref }}">← Neuere</a>
    <span>/ </span>
  {% endif %}

  <span>{{collections.posts.length }} Beiträge</span>

  {% if pagination.nextPageLink %}
    <span> /</span>
    <a rel="next" href="{{ pagination.nextPageHref }}">Ältere →</a>
  {% endif %}
</nav>
