---
layout: layouts/page.njk
title: Downloads
---

{% set sortedDownloadablePrintEditions = downloadablePrintEditions | sort | reverse %}

<h2>Gedruckte Ausgabe</h2>
<p>Hier finden Sie die <a href="https://{{ metadata.downloadshost }}/ausgaben/{{ sortedDownloadablePrintEditions | first }}">aktuelle</a> und ältere Ausgaben des Reinbekers zum Download als PDF.</p>

<ul class="printeditions">
{% for editionFilename in sortedDownloadablePrintEditions %}
    <li><a href="https://{{ metadata.downloadshost }}/ausgaben/{{ editionFilename }}">{{ editionFilename | descriptionOfPrintEditionFilename }}</a></li>
{% endfor %}
</ul>


<h2>Mediadaten</h2>
<p>
  Unsere aktuellen Mediadaten finden Sie <a href="https://{{ metadata.downloadshost }}/dokumente/MediadatenDerReinbeker.pdf">hier</a>. 
</p>


<h2>Verteilungstermine</h2>
<p>
  Zeitungs-Anlieferung im iCalendar-/ics-Format: <a href="https://{{ metadata.downloadshost }}/termine/DerReinbeker-Austraeger.ics">Downloaden</a> oder <a href="webcal://{{ metadata.downloadshost }}/termine/DerReinbeker-Austraeger.ics">abonnieren</a>. 
</p>

