---
permalink: feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>Kommunikation in Reinbek</subtitle>
  <link href="{{ metadata.url }}/feed.xml" rel="self" type="application/atom+xml" />
  <link href="{{ metadata.url }}/" rel="alternate" type="text/html"/>
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url }}/feed.xml</id>
  <author>
    <name>Sandtner Werbung GbR</name>
    <email>redaktion@derreinbeker.de</email>
  </author>
  {%- for post in collections.posts | head(-20) %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <summary>{{ post.data.description }}</summary>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <author>
      <name>{{ post.data.authorname }}</name>
    </author>
    <content type="html">{{ post.templateContent | cleanupCharactersNotAllowedInXML | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
