---
layout: layouts/base.njk
section: home
pagination:
  data: collections.posts
  size: 10
  alias: postslist
  reverse: true
description: "Der Reinbeker – Kommunikation in Reinbek"
---

{% include "components/postslist.njk" %}

<nav>
  {% if pagination.nextPageLink %}
    <a rel="next" href="{{ pagination.nextPageHref }}">← Ältere</a>
    <span>&emsp;</span>
  {% endif %}
  
  {% if pagination.previousPageLink %}
    <a rel="prev" href="{{ pagination.previousPageHref }}">Neuere →</a>
  {% endif %}

</nav>
