---
layout: layouts/base.njk
title: Kategorien
navtitle: Kategorien
#tags: _nav
date: 2003-01-01 # Hiernach werden die Items für die Navigation (tag "_nav") sortiert
permalink: /kategorien/
---

<h1>{{ title }}</h1>

<ul class="category-list">
{% for category in collections.categories | sort %}
  {% set categoryUrl %}/{{ category | slug }}/{% endset %}
  <li>
  <a href="{{ categoryUrl | url }}" class="cat">{{ category }}</a>
  </li>
{% endfor %}
</ul>