---
layout: layouts/base.njk
pagination:
  data: collections.categoriesMap
  resolve: values
  size: 1
  alias: articles
permalink: kategorien/{{ articles[0].data.category | slug }}/
---

<h1>Kategorie “{{articles[0].data.category }}”</h1>

{% set postslist = articles %}
{% include "components/postslist.njk" %}

<nav>
  <a href="{{ '/kategorien/' | url }}">← Kategorien</a>
</nav>