---
layout: layouts/base.njk
pagination:
  data: collections.categoriesMap
  resolve: values
  size: 1
  alias: articles
permalink: /{{ articles[0].data.category | slug }}/
---

{% set postslist = articles %}
{% include "components/postslist.njk" %}

<nav>
  <a href="{{ '/kategorien/' | url }}">← Kategorien</a>
</nav>