---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /thema/{{ tag | slugify }}/
layout: layouts/base.njk
eleventyComputed: 
  title: "{{ tag }} – Alle Beiträge"
  description: "Alle Beiträge zum Thema {{ tag }}."

---

<h1>{{ tag }}</h1>
<h4>Alle Beiträge</h4>

{% set postslist = collections[tag] | reverse %}
{% include "components/postslist.njk" %}

<nav>
  <a href="{{ '/themen/' | url }}">← Themen</a>
</nav>
