---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - categories
    - categoriesMap
    - tagList
    - post
    - posts
    - ''
permalink: /thema/{{ tag | slug }}/
layout: layouts/base.njk
---

<h4>Artikel zum Thema</h4>
<h1>{{ tag }}</h1>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}

<nav>
  <a href="{{ '/thema/' | url }}">← Themen</a>
</nav>
