---
permalink: /thema/
layout: layouts/base.njk
description: "Alle Themen"
---
<h1>Themen</h1>

<ul class="tag-list">
{% for tag in collections.tagList | sort(false, true) %}
  {% set tagUrl %}/thema/{{ tag | slug }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></li>
{% endfor %}
</ul>


