:root {
	--white: white;
	--red: #B8082F;
	--lightred: #FEEDF1;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1em;
	margin-bottom: .3em;
}

h2 + p {
	margin-top: 0;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--red);
}

a[href]:not(:hover) {
	text-decoration: none;
}

main,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
	max-width: 37.5em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

ul {
	padding: 0;
	list-style: none;
}

#Banner {
	overflow-x: hidden;
	padding-top: 1em;
	padding-left: 7px;
}

#Banner img {
	height: 2em;
}


/* Header Nav */
/* siehe hierzu auch "The Flexbox Method" unter https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6 */
body > header nav {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	margin-bottom: 20px;
	padding-left: 1em;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

body > header nav::-webkit-scrollbar {
	display: none;
}

body > header nav ul {
	flex: 0 0 auto;
}

body > header nav ul :first-child {
	margin-left: 0;
}

body > header nav li {
	display: inline-block;
	margin: 0 .5em;
}

body > header nav li a[href]:not(:hover) {
	text-decoration: none;
}

body > header nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}

/* Posts List */
article {
	padding-top: 1em;
	padding-bottom: 1em;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
}

article>h2 {
	margin-top: 40px;
}

article header > h2 + h1 {
	margin-top: 0px;
}

article header > h2 {
	margin-bottom: 6px;
}

article>.tags {
	margin-top: 3em;
}

article>.tags>h3 {
	font-size: .83em;
}

article img {
	width: 100vw;
	margin-left: -1em;
	margin-right: -1em;
}

article figure {
	margin-left: 0px;
	margin-right: 0px;
	display: table;
	width: 100%;
}

article figure>figcaption {
	display: table-caption;
	caption-side: bottom ;
	font-size: smaller;
}

article > *:last-child {
	margin-bottom: 0;
}

* > article:first-of-type {
	padding-top: 0;
}

.articlelist > article > h2 {
	margin-bottom: 4px;
}

.articlelist > article {
	border-bottom-color: rgb(223, 223, 225);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.articlelist > article:last-of-type {
	border-bottom-width: 0px;
}

.articlelist > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

.articlelist > article > *:last-child {
	margin-bottom: 0em;
}

.articlelist > article h1 {
	font-size: 1.25em;
	line-height: 1.3em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
	vertical-align: text-top;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .625em;
	padding: 0 .5em;
	line-height: 2em;
	height: 2em;
	border: 1px solid var(--lightred);
	background-color: var(--lightred);
	color: var(--red);
	border-radius: .25em;
	text-decoration: none;
	margin: 0 .5em .5em 0;
	white-space: nowrap;
}

a[rel="tag"]:hover {
	border: 1px solid var(--red);
	background-color: var(--red);
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

.tag-list {
	column-count: 2;
}

.category-list {
	column-count: 1;
}

.printeditions {
	column-count: 3;
}

.printeditions li {
	line-height: 1.6em;
	white-space: nowrap;
}

.__cms_description {
	color: gray;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

@media screen and (min-width:37.5em) {
	article img {
		max-width: 100%;
		margin-left: inherit;
		margin-right: inherit;
	}	
}

html[data-current="home"] #Banner {
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;	
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 3px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}


