<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description or title }}">
  {% if disableFormatDetection %}
  <meta name="format-detection" content="telephone=no">
  {% endif %}
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>{{ metadata.title }}</title>
  {% endif %}
  
  {# realfavicongenerator.net-files #}
  <link rel="apple-touch-icon" sizes="180x180" href="/media/favicons/apple-touch-icon.png?v=1">
  <link rel="icon" type="image/png" sizes="32x32" href="/media/favicons/favicon-32x32.png?v=1">
  <link rel="icon" type="image/png" sizes="16x16" href="/media/favicons/favicon-16x16.png?v=1">
  <link rel="manifest" href="/media/favicons/site.webmanifest?v=1">
  <link rel="mask-icon" href="/media/favicons/safari-pinned-tab.svg?v=1" color="#b8082f">
  <link rel="shortcut icon" href="/media/favicons/favicon.ico?v=1">
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/media/favicons/browserconfig.xml?v=1">
  <meta name="theme-color" content="#ffffff">
  
  <!-- Social -->
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ metadata.title }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Der Reinbeker – Kommunikation in Reinbek">
  <meta property="og:description" content="{{ description or title }}">
  <meta property="og:image" content="/media/open_graph_logo.png">
  <meta property="og:url" content="https://www.derreinbeker.de{{ page.url }}">

  {# RSS Feed #}
  <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="{{ metadata.title }}">
  <link rel="stylesheet" href="/_includes/assets/css/normalize.css">
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>

  {% if section == "home" %} 
    <link rel="dns-prefetch" href="https://identity.netlify.com">
    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
  {% endif %}  
</head>
