<nav>
  <ul>
  {%- for nav in navigationEntries -%}
    <li>
      <a href="{{ nav.url | url }}"{% if page.url.startsWith(nav.url) %} data-current="current item"{% endif %}>{{ nav.title }}</a>
    </li>
  {%- endfor -%}
  </ul>
</nav>
