<section class="articlelist">
	{% for post in postslist %}
		<article>
			{% if post.data.titleintro %}
				<h2>{{ post.data.titleintro }}</h2>
			{% endif %}
			<h1>
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h1>
			<p>
				{% if post.data.description %}
					{{ post.data.description }}
				{% else %}
					{{ post.templateContent | excerpt | striptags }}
				{% endif %}
			</p>
		</article>
	{% endfor %}
</section>
