<!doctype html>
<html lang="de">

	{% include "components/head.njk" %}

	<body onload="setupZoom()">

		<header>
		<div id="Banner">
			<a href="{{ '/' }}" title="Der Reinbeker: Home">
				<img src="/static/DerReinbekerLogo.svg" alt="Der Reinbeker">
			</a>
		</div>
		{% include "components/nav.njk" %}
		</header>

		<main>
			{{ content | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
