<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="de">

	{% include "components/head.njk" %}

	<body>

		<snow-fall></snow-fall>
		<header>
		<div id="Banner">
			<a href="{{ '/' }}" title="Der Reinbeker: Home">
				<img src="/media/DerReinbekerLogo.svg" alt="Der Reinbeker" width="160" height="35">
			</a>
		</div>
		{% include "components/nav.njk" %}
		</header>

		<main>
			{{ content | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
