---
layout: layouts/base.njk
---

<article>
  <header>
	{% if titleintro %}
		<h2>{{ titleintro }}</h2>
	{% endif %}
	<h1>{{ title }}</h1>
	<p>
	  <small>
			<time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>, von {% if authorname %}{{ authorname }}{% else %}{{ metadata.author.name }}{% endif %}
	  </small>
	</p>
  </header>
  
	{{ content | safe }}
	
	{% if tags %}
	  <p>
	  {% for tag in tags %}
	    {%- if tag != "post" -%}
	      {% set tagUrl %}/thema/{{ tag | slug }}/{% endset %}
	      <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
	    {%- endif -%}
	  {% endfor %}
	  </p>
	{% endif %}

</article>
